export(DiscoverMotif)
export(DiscoverOptimalMotifDisplacement)
export(HMDispDFDR)
export(HSDispBnd)
export(mergeDMMDResults)
export(testsTFG)
export(allTests)
export(fuse_seqs_openmp)
export(find_strings_par)
export(fuse_seqs_openmp)
import(cluster)
import(seqinr)
import(data.table)
import(seqLogo)
import(parallel)
import(ggplot2)
import(fastcluster)
import(mefa)
import(foreach)
import(doMC)
import(reshape2)
import(extrafont)
import(Rcpp)
import(magrittr)
import(dplyr)
importFrom(plyr,ddply,summarise)
useDynLib(DMMD)
exportPattern("ˆ[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
